.project-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem auto;
}

.project-card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s;
  position: relative; /* Needed for absolute positioning of the link */
  overflow: hidden;
  width: 256px;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.75rem;
}

/* This makes the entire card clickable */
.project-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensures it's on top of everything */
}
